Building configuration...

Current configuration:
!
frr version 8.1
frr defaults traditional
hostname node180
log syslog informational
no ip forwarding
no ipv6 forwarding
service integrated-vtysh-config
!
vrf dataplane
 netns /run/netns/dataplane
exit-vrf
!
vrf host4
 netns /run/netns/host4
exit-vrf
!
interface bvi1 vrf dataplane
 ip address 192.168.203.180/24
exit
!
router bgp 65000
 bgp router-id 192.168.200.180
exit
!
router bgp 65000 vrf dataplane
 neighbor fabric_core peer-group
 neighbor fabric_core remote-as 65170
 neighbor fabric_dataplane peer-group
 neighbor fabric_dataplane remote-as 65000
 neighbor 192.168.203.150 peer-group fabric_core
 neighbor 192.168.203.150 update-source 192.168.203.180
 !
 address-family ipv4 unicast
  redistribute connected
  redistribute static
  neighbor fabric_core route-map IMPORT in
  neighbor fabric_core route-map EXPORT out
  neighbor fabric_dataplane next-hop-self
  neighbor fabric_dataplane soft-reconfiguration inbound
  neighbor fabric_dataplane route-map IMPORT in
  neighbor fabric_dataplane route-map EXPORT out
 exit-address-family
exit
!
route-map IMPORT permit 1
exit
!
route-map EXPORT permit 1
exit
!
end
