Building configuration...

Current configuration:
!
frr version 8.4.2
frr defaults traditional
hostname node182
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
interface enp1s0
 mpls enable
exit
!
interface enp1s0.801
 ip address 192.168.23.182/24
 mpls enable
exit
!
interface enp1s0.802
 ip address 192.168.24.182/24
 mpls enable
exit
!
interface lo
 ip address 192.168.100.182/32
exit
!
router bgp 65000
 neighbor 192.168.100.181 remote-as 65000
 neighbor 192.168.100.181 update-source 192.168.100.182
 neighbor 192.168.100.183 remote-as 65000
 neighbor 192.168.100.183 update-source 192.168.100.182
 !
 address-family ipv4 vpn
  neighbor 192.168.100.181 activate
  neighbor 192.168.100.181 route-reflector-client
  neighbor 192.168.100.183 activate
  neighbor 192.168.100.183 route-reflector-client
 exit-address-family
exit
!
router ospf
 network 192.168.23.0/24 area 0
 network 192.168.24.0/24 area 0
 network 192.168.100.0/24 area 0
exit
!
mpls ldp
 !
 address-family ipv4
  discovery transport-address 192.168.100.182
  !
  interface enp1s0.801
  exit
  !
  interface enp1s0.802
  exit
  !
 exit-address-family
 !
exit
!
end
