
[global.config]
    as = 65000
    router-id = "192.168.200.180"
    port = 1790
    local-address-list = ["192.168.200.180"]

[[neighbors]]
  [neighbors.config]
    neighbor-address = "192.168.200.182"
    peer-as = 65000
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "l2vpn-evpn"
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "ipv4-unicast"

  [neighbors.graceful-restart.config]
      enabled = true
      notification-enabled = true
      long-lived-enabled = true
      # graceful restart restart time
      restart-time = 20

  [neighbors.ebgp-multihop.config]
    enabled = true
    multihop-ttl = 14
